@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Oregano&display=swap");

:root {
  /* Colors */
  --primary-color: #303952;
  --secondary-color: #f33535;
  --tertiary--color: #fd5959;

  /* Fonts */
  --font-title: "Oregano", cursive;
  --font-text: "Abhaya Libre", serif;

  /* Fonts sizes */
  --font-sm: 1rem;
  --font-md: 1.2rem;
  --font-lg: 2rem;

  /* Borders */
  --border-radius-input: 5px;
  --border-radius-cards: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar {
  width: 3px;
  overflow: hidden;
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 92px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*SECTION*/
.titleContainer {
  padding: 20px 10px;
	grid-column: 1 / 13;
  color: white;
}

.titleContainer--title {
	font-family: var(--font-title);
  font-size: var(--font-lg);
  text-align: center;
  letter-spacing: 5px;
}

.titleContainer--subTitle {
	margin-top: 20px;
  font-family: var(--font-text);
  font-size: var(--font-md);
  text-align: center;
  letter-spacing: 1.25px;
}

/*HOME*/
.homeContainer {
  gap: 20px;
}

.home__card__figure {
  width: 100%;
  height: 120px;
  text-align: center;
}

.container__card--p {
  margin-top: 10px;
  font-family: var(--font-text);
  font-size: var(--font-md);
  text-align: center;
}

.home__card--btn {
  width: 150px;
  margin-top: 40px;
  display: block;
  border: transparent;
  border-radius: var(--border-radius-cards);
  background: var(--tertiary--color);
  outline-offset: 4px;
}

.home__card--btn__front {
  padding: 12px 42px;
  display: block;
  color: black;
  font-size: var(--font-md);
  font-weight: 600;
  text-align: center;
  border-radius: var(--border-radius-cards);
  background: var(--secondary-color);
  transform: translateY(-10px);
  transition-duration: 200ms;
}

/*CARDS*/
.container {
  margin-bottom: 20px;
  padding: 40px 0;
  grid-column: 1 / 13;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cards__container {
  gap: 20px;
}

.container__card {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 22px 10px rgba(0, 0, 0, 0.37);
  box-shadow: 2px 2px 22px 10px rgba(0, 0, 0, 0.37);
}

.home__card {
  height: 390px;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-bottom: 20px;
  font-size: var(--font-md);
  font-family: var(--font-title);
  letter-spacing: 2px;
  text-align: center;
}

/*FORM*/
.card__form {
  width: 100%;
  min-height: 150px;
  padding: 10px;
}

.card__form--label {
  font-size: var(--font-sm);
  font-weight: bold;
}

.card__form--input {
  width: 100%;
  margin: 15px 0 20px;
  padding: 5px 20px;
  font-size: var(--font-sm);
  text-align: center;
  border: transparent;
  border-radius: var(--border-radius-input);
  outline: 1px solid rgba(0, 0, 0, 0.37);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#coupons {
  text-transform: uppercase;
}

.form__buttons {
  padding-top: 20px;
  display: flex;
  place-content: center;
  gap: 10px;
  border-top: 1px solid var(--primary-color);
}

.form__buttons--btn {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: var(--border-radius-input);
  font-family: var(--font-title);
  font-size: var(--font-md);
  letter-spacing: 1.5px;
  background: var(--secondary-color);
}

.form__result {
  width: 100%;
  min-height: 110px;
  margin-top: 20px;
  padding: 20px;
  color: #000;
  font-family: var(--font-text);
  font-size: var(--font-md);
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-input);
}

/* MEDIA QUERYS */
@media (hover: hover) {
  .home__card--btn:hover > .home__card--btn__front {
    transform: translateY(-1px);
    transition-duration: 600ms;
  }
  .form__buttons--btn:hover {
    cursor: pointer;
    background: var(--tertiary--color);
  }
}

@media screen and (min-width: 768px) {
  .titleContainer {
    grid-column: 2 / 12;
  }
  .container {
    grid-column: 2 / 12;
    padding: 50px 0;
  }
}

@media screen and (min-width: 1024px) {
  .titleContainer {
    grid-column: 3 / 11;
  }
  .container {
    grid-column: 1 / 13;
  }
  .cards__container {
    grid-column: 3 / 11;
    gap: 100px 30px;
  }
}
